@charset "UTF-8";


body{
    h1{
      color: blue;
    }
    background-color: black;
    color: beige;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 50px;
    p{
       text-align: justify;
    }
    
}
